html {
	height: 100%;
}
@-ms-viewport{
  width: device-width;
}
body {
	height: 100%;
	font-family: 'Architects Daughter', cursive;
	color: #676858;
}

/* Full screen map */
#map-canvas {
	position:absolute; 
	width: 100%; 
	height: 100%; 
	padding: 20px; 
}

span {
	background-color: white;
	opacity: 0.85;
}
img {
	width: 100%;
	max-width: 300px;
}

input {
	width: 100%;
}
.listElement {
	padding: 0px;
	text-align: center;
}
ul
{
    list-style-type: none;
}
#searchField {
    padding-top: 8px;
}
.listElement:hover {
	color: black;
	background-color: #efefef;
}
.wrap {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	margin: 0 auto -65px;
	padding: 0 0 65px;
}